.Login {
    width: 3/4;
    text-align: center;
    padding-top: 100px;
}

.inputField {
    /* width: 70%; */
    padding-block: 10px;
    padding-left: 10px;
    text-align: center;
    margin-bottom: 15px;
}